body {
    background-color: #5c5b67;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

nav button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #3d3c46;
    color: white;
    cursor: pointer;
}

nav button:hover {
    background-color: #5589d8;
    color: #204276;
}

nav button a {
    text-decoration: none;
    color: white;
    background: none;
}

form{
    display: flex;
    width: 350px;
    flex-direction: column;
    gap: 15px;
}

form fieldset {
    border-radius: 8px;
}

form legend {
    font-size: 1.5em;
    color: white;
}

form .form-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form .form-container .logradouro {
    display: flex;
    gap: 5px;
}

form .form-container .logradouro > #number {
    width: 55px;
}

form .form-container label {
    margin-top: 5px;
    color: white;
}

form .form-container input {
    border: none;
    border-radius: 10px;
    padding: 8px;
}

form button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(61, 60, 70);
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #5589d8;
    color: #204276;
}