body {
    background-color: rgb(92, 91, 103);
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    width: 300px;
    flex-direction: column;
    gap: 15px;
}

form .form-container {
    display: flex;
    flex-direction: column;
    gap: 5px;}

form .form-container label {
    margin-top: 5px;
    color: white;
}

form .form-container input {
    border: none;
    border-radius: 10px;
    padding: 8px;
}

form button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(61, 60, 70);
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #5589d8;
    color: #204276;
}